TELEGRAM_BOT_TOKEN="your_telegram_bot_token_here"
GOOGLE_CREDENTIALS_JSON='{"type": "service_account", "project_id": "...", ...}'
EMAIL="google_cloud_email_here"
ALLOWED_USER_ID="your_telegram_user_id_here"